/* Global Classes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4f9cf9;
    --yellow-color: #ffe492;
    --darkblue-color: #043873;
    --dirty-white-color: #FAFAFA;
}

body {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    z-index: none;
}

a {
    text-decoration: none;
    color: #fff;
}   

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */

.navbar {
    padding: 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
    align-items: center;
}

.navbar ul li a {
    font-family: 'DM Sans', sans-serif;
    padding: 20px 25px;
    display: block;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
}

.navbar ul li:nth-child(5) a{
    font-family: 'Inter';
    padding: 20px 25px;
    display: block;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--yellow-color);
}

.navbar ul li:nth-child(5) a:hover {
    color: #da8ee7;
}

.navbar ul li a i {
    margin-left: 10px;
    padding-top: 1em;
}
.navbar ul li:nth-child(6) a i {
    margin-left: 5px;
}

.navbar ul li:nth-child(5) a {
    margin-left: 40px;
}

.navbar ul li:last-child a {
    margin-left: 25px;
}


/* Hero Class */

.hero {
    padding: 40px 0;
}


.hero .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero .hero-heading {
    width: 100%;
    font-size: 700;
}

.hero .container {
    height: 800px;
    padding-top: 35px;
}

.hero img{
    max-width: 824px;
    padding-top: 45px;
}

.hero .hero-text-block {
    width: 80%;
}

.hero .hero-text {
    width: 100%;
    font-weight: 300;
    margin-bottom: 50px;
}

.hero .btn {
    line-height: 1.8;
    font-size: 18px;
    font-weight: 500;
}

.hero .image-container {
    width: fit-content;
    padding-left: 40x;
}

.hero .hero-content a i{
    margin-left: 10px;
    padding-top: 20px;
}


/* Work-management Class */
.work-management {
    margin-top: 40px;
    padding: 5px 0;
}

.work-management .work-management-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-management .content-heading {
    width: 40%;
}


.work-management .text-xxl {
    font-size: 4.5em;
    font-weight: 700;
}

.work-management .element-bg {
    /* background-size: 100%; */
    background-position: 0% 37.5%;
}

.work-management .container {
    height: 1450px;
    padding-top: 10px;
}

.work-management img{
    max-width: 748px;
    padding-top: 45px;
}

.work-management .container .w-bg {
    background-position: 0% 35;
}

.work-management .work-management-text-block {
    width: 50%;
}

.work-management .work-management-text-block p {
    margin-bottom: 70px;
}

.work-management .work-management-content a i{
    margin-left: 10px;
}

.work-management .btn {
    line-height: 1.8;
    width: 200px;
}

/* Work Together */
.work-management .work-together-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.work-management .work-together-text-block {
    width: 110%;
    padding-left: 40px;
    line-height: 2.5;
}

.work-management .work-together-text-block a i{
    margin-left: 10px;
    padding-top: 20px;
}

.work-management .work-together-text-block p {
    margin-bottom: 60px;
}

.work-management .work-together-text-block h1 {
    width: 100%;
}

.work-management .work-together-content .work-image-content img {
    max-width: 700px;
    padding-top: 40px;
}

.work-together-text-block .element-bg {
    background-position: 63% 16%;
    background-size: 425px;
}

.work-together-content .work-together-text-block .btn {
    line-height: 1.8;
    width: 180px;
}


/* Customize Needs */

.customize-needs {
    padding-top: 80px;
}

.customize-needs .need-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-needs  img {
    max-width: 686px;
}

.customize-needs .container {
    height: 650px;
    padding-top: 35px;
}

.customize-needs .element-bg {
    background-position: 65% 20%;
    background-size: 475px;
}

.customize-needs .need-heading {
    width: 100%;
    font-size: 800;
}

.customize-needs .need-text {
    width: 90%;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 50px;
}

.customize-needs .btn {
    line-height: 2;
    font-size: 18px;
    font-weight: 500;
    width: 200px;
}

.customize-needs .need-content a i{
    margin-left: 10px;
    padding-top: 20px;
}

/* Customize your needs 2 */
.customize-needs {
    padding-top: 80px;
}

.customize-your-needs .container {
    height: 650px;
}

.customize-your-needs .customize-your-needs-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-your-needs img {
    max-width: 843px;
    padding-top: 150px;
}

.customize-your-needs .customize-text-block {
    width: 100%;
    padding-left: 100px;
    line-height: 1.3;
}

.customize-your-needs .customize-text-block p {
    width: 100%;
}

.customize-your-needs .customize-need-heading {
    width: 100%;
    font-size: 72px;
}

.customize-your-needs .customize-text {
    line-height: 1.5;
    margin-bottom: 50px;
}

.customize-your-needs .element-bg {
    background-position: 0% 34%;
    background-size: 475px 70px;
}

.customize-your-needs .btn {
    line-height: 1.8;
    width: 180px;
}

.customize-your-needs .customize-text-block a i{
    margin-left: 10px;
    padding-top: 20px;
}


/* Pricing */
.pricing {
    padding-top: 140px;
}

.pricing .container {
    height: 1100px;
}

.pricing .pricing-subheading {
    width: 160% 100%;
}

.pricing .element-bg {
    background-position: 77% 15%;
    background-size: 400px 70px;
}

/* Pricing Grid */
.price-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 100px;
}

.price-list-grid .pricing-card-content {
    margin: 0px 27px;
}

.price-list-grid .pricing-heading {
    font-size: 24px;
    font-weight: 600;
}

.price-list-grid ul {
    margin: 10px 0;
}

.price-list-grid ul li {
    margin-bottom: 20px;
}

.price-list-grid ul li svg {
    margin-right: 10px;
    vertical-align: bottom;
}


.pricing-card-body ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
}

.pricing-card-body span{
    margin: auto 0;
}


.price-list-grid .card:hover{
    background-color: #043873;
    color: #FFF;
}

.price-list-grid .card:hover .pricing-card-content{
    align-items: center;
}

.price-list-grid .card:hover .pricing-card-header {
    color: #ffe492;
}

.price-list-grid .card:hover .pricing-card-content .checkbox-icon path {
    stroke :#ffe492;
}

.price-list-grid .card:hover .btn{
    border: none;
    background-color: #4f9cf9;
    color: #FFF;
}

.price-list-grid .card:hover .pricing-card-content {
    transform: none;
}





/* Utility Classes */

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 220px;
}

.container-sm {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Card */
.card {
    background: #fff;
    color: #000;
    border: 1px solid #ffe492;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s;
}


/* Buttons */

.btn {
    display: inline-block;
    padding: 14px 20px;
    color: fff;
    font-weight: 500;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light-blue {
    background: var(--primary-color);
    color: #fff;
}

.btn-light-yellow {
    background: var(--yellow-color);
    color: var(--darkblue-color);
    width: 6.87em;
    font-weight: bold;
    
}

.btn-yellow-border {
    background: #fff;
    width: 160px;
    border: 1px solid #ffe492;
    color: #212529;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */
.text-xxl {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 20px 0 20px;
}

.text-xl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* Unordered List */
ul {
    padding-left: 0;
    list-style-type: none;
}

/* Backgroud */

.bg-white {
    background-color: #fff;
    color: #212529;
}
.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-dark-blue {
    background: var(--darkblue-color);
    color: #fff;
}

.bg-dirty-white {
    background: var(--dirty-white-color);
    color: #212529;
}

.w-bg {
    background-image: url('/images/Element_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 72%;
}

.w-bg-1 {
    background-image: url('/images/BACKGROUND.png');
    background-repeat: no-repeat;
    background-position: 0% 16.5%;
    
}

.element-bg {
    background-image: url('/images/Element.png');
    background-repeat: no-repeat;
}

/* Font Awesome */

.fa-chevron-down {
    opacity: 0.8;
    font-weight: lighter;
}

.fa-arrow-right {
    text-align: center;
    opacity: 0.7;
    font-weight: lighter;
}


.checkbox-icon {
    width: 20px;
    height: 21px;
    flex-shrink: 0;
    align-items: center;
}

/* Media Queries */
@media (max-width: 960px) {
    
}

@media (max-width: 720px) {
    .navbar ul li a i {
        display: none;
    }
}

@media (max-width: 500px) {

}