/* Global Classes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4f9cf9;
    --yellow-color: #ffe492;
    --darkblue-color: #043873;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}   

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */

.navbar {
    padding: 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    font-family: 'DM Sans', sans-serif;
    padding: 15px 10px;
    display: block;
    font-weight: 280;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--yellow-color);
}

.navbar ul li a i {
    margin-left: 5px;
}

.navbar ul li:nth-child(5) a {
    gap: 10px;
}

.navbar ul li:last-child a {
    margin-left: 10px;
}



/* Hero Class */

.hero {
    padding: 60px 0;
}

.hero .container {
    height: 800px;
}

.hero .hero-content {
    display: flex;
    margin-top: 40px;
}

.hero .hero-heading {
    width: 50%;
}

.hero .hero-text-block {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 40px;
}

/* Utility Classes */

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 220px;
}

.container-sm {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Buttons */

.btn {
    font-weight: bold;
    color: fff;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light-blue {
    background: var(--primary-color);
    padding: 16px 40px;
    border-radius: 8px;
}

.btn-light-yellow {
    background: var(--yellow-color);
    color: var(--darkblue-color);
    padding: 16px 40px;
    border-radius: 8px;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* Backgroud */
.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-dark-blue {
    background: var(--darkblue-color);
    color: #fff;
}

.w-bg {
    background-image: url('/images/Element.png');
    background-repeat: no-repeat;
    background-position: center;
}


/* Media Queries */
@media (max-width: 960px) {
    
}

@media (max-width: 720px) {
    .navbar ul li a i {
        display: none;
    }
}

@media (max-width: 500px) {

}